# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Python virtual environments
.env
.venv/
env/
venv/

# Data files
*.tsv
*.dat

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Output
data/
bin/
